@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-blue: #4a90e2;
		--color-primary: #ffffd8;
		--color-red: #fc7272;
		--color-red2: #f6b3b3;
		--color-black-1: #202020;
		--color-black-2: #3a3a3a;
		--color-yellow: #fff2cc;
		--color-green: #88ffce;
	}
}

html {
	font-family: "Inter", sans-serif;
	background: var(--color-primary);
}

/* absolute center item */
.c-center {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

*::-webkit-scrollbar {
	width: 0.2em;
}

*::-webkit-scrollbar-track {
	/* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}

*::-webkit-scrollbar-thumb {
	background-color: var(--color-red2);
}
